*{
	margin:0;
	padding: 0;
}
body{
	background: url("../img/Background.jpg") no-repeat;
	background-position: center top;
	background-size: cover;
}
.wrapper{
	
}

/*HEADER*/
.header{
	width: 1124px;
	margin: 0 auto;

}
.header_main{
	background: #07508f;
}
.flag_image{
	display:block;
	float:left;
	padding-top:5px;
	padding-right:10px;
}
.menu{
	float: right;
	border-right: 1px solid #56a2dc;
	
}
.menu li
{
	list-style: none;
	float:left;
	line-height: 35px;
	
	

}

.menu li a
{
	display: block;
	text-decoration: none;
	font-family: tahoma;
	color: #60b5ed;
	padding:0 11px;
}
.menu li a:hover
{
	
	background: #4eabda;
	color: white;
}
.right-menu{
	float: right;
	
}
.right-menu li{
	list-style: none;
	float:left;
	line-height: 35px;
	padding-right: 11px;
}
.right-menu  .block{
	color: white;
	display: block;
	text-decoration: none;
	font-family: tahoma;
	color: white;
	padding:0 11px;
	float: left;
}
.right-menu li .inner_a{
	display:inline;
	text-decoration: underline;
	font-family: tahoma;
	color: white;
	padding: 0;
	
}
.right-menu .gradient{
	padding-right: 10px;
	padding-left: 10px;
color: white;
font-family: tahoma;
	background: #51b1dc; /* Old browsers */
background: -moz-linear-gradient(top, #51b1dc 0%, #2e7ac4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #51b1dc 0%,#2e7ac4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #51b1dc 0%,#2e7ac4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.ofertas::before{
	line-height: 100%;
	float: left;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-right: 5px;
	padding:0px;
	content: url("../img/icon_flag.png");
}
.gradient a{
	color: white;
	font-family: tahoma;
}
.gradient a:hover{
	text-decoration: none;
}

/*CONTENT*/
.content{
	width: 560px;
	
	
	margin:200px auto 0 auto;
}

.content-head{
	background-color: rgba(0,0,0,0.63);
	line-height: 62px;
	margin-bottom: 3px;
	text-align: center;
	color: white;
	font-family: tahoma;
	font-size: 24px;
}
.content-body{
	background-color: rgba(0,0,0,0.63);
	text-align: center;
}
.facebook{
	
	
}
.facebook img{
	/*display: block;*/
	padding-top: 35px;
	/*width: 270px;*/
}
form{
	width: 275px;
	margin: 0 auto;
	text-align: left;
	color: white;
	font-family: tahoma;
	font-size: 14px;
}
.decor_line{
	margin-top: 35px;
	margin-bottom: 35px;
	border-top: 1px solid grey;
	width: 123px;
	border-bottom: 1px solid black;
	padding-right: 0;
	margin-right: 0;
}
.left{
	float: left;
}
.decor_name{
	margin-top: 27px;
	
	font-family: tahoma;
	font-size: 14px;
	color: #999999;
	display: block;
}

form .decor_name:before{
	content: "";
	display: block;
	float: left;
margin-top: 10px;
	margin-bottom: 35px;
	border-top: 1px solid grey;
	width: 123px;
	border-bottom: 1px solid black;
	padding-right: 0;
	margin-right: 5px;
}
.decor_name:after{
	content: "";
	/*display: block;*/
	float: right;
margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px solid grey;
	width: 123px;
	border-bottom: 1px solid black;
	padding-right: 0;
	margin-right: 0;
}
.right{
	float: right;
}
.textinput{
	display: block;
	height: 35px;
	width: 255px;
	background: #101010;
	margin-bottom:15px; 
	border: none;
	border-bottom:1px solid #484846;
	padding-left: 20px;
	color: white;
}
.textinput:focus{
	background:#1b5288;
}
input[type="checkbox"]{
	float: left;
	margin-top: 3px;
	margin-right: 6px;
}
input[type="submit"]{
	margin-top: 17px;
	margin-left: 73px;
	height: 35px;
	width: 150px;
	border-top: 1px solid #67c6e6;
	border-left: 1px solid #5aa3de;
	border-right: 1px solid #56a2dd;
	border-bottom: 1px solid #3686ca;
	border-radius: 5px;
	cursor: pointer;
	/*border: none;*/
	color:white;
	background: #50aedb; /* Old browsers */
background: -moz-linear-gradient(top, #50aedb 1%, #2e7ac4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #50aedb 1%,#2e7ac4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #50aedb 1%,#2e7ac4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
input[type="submit"]:hover{
	-webkit-box-shadow: 0px -1px 19px 8px rgba(61,73,209,0.87);
-moz-box-shadow: 0px -1px 19px 8px rgba(61,73,209,0.87);
box-shadow: 0px -1px 19px 8px rgba(61,73,209,0.87);
}
input::-webkit-input-placeholder {
    color: white;
  } 
input::-moz-placeholder {
    color:white;
   }
   .Policy{
   	margin:15px -55px;
   	text-align: center;
   }
.clear{
	clear: both;
}
.clearfix:after{
	clear: both;
	content: '';
	display: block;
}

.FB{
	 width: 280px;
	 height: 35px;
	 color: #ffffff;
	 line-height: 15px;
	 background: -webkit-linear-gradient(top, rgb(61,86,150) 0%,rgb(48,66,114) 100%);
	 border:none;
     border-radius: 5px;
     cursor: pointer;
     border-top: 1px solid #7589bb;
     margin-top: 20px;
}
.F{
	float: left;

	font-weight: bold;
	font-size: 26px;
	padding: 0px 15px;

	
}
.F:after{
	content: "";


	margin-left: 15px;
	
	width: 3px;
	border-right: 1px solid #223c77;
}

.bold{
	
	font-weight: bold;
	font-size: 14px;
	
}
.left_arrow{
	
	font-weight: bold;
	font-size: 14px;
	padding: 8px 20px;
}